# Project 2: Working with Lists

Working with Lists

New Concepts	Description

Dynamic List	A dynamic list is encapsulated by brackets ([]). A list is mutable. Elements can be added to or deleted from a list on the fly.

List Concatenation	Two lists can be joined together in the same manner that strings are concatenated.

List Indexing	Lists are indexed with the first element being indexed as zero and the last element as the length of (number of elements in) the list less one. Indexes are called using brackets â€“ i.e., lst[0] calls the 0th element in the list.

In later chapters, we will combine lists with dictionaries to essential data structures. We will also work with more efficient and convenient data structures using the numpy and pandas libraries.

In [9]:
empty_list = []
empty_list, type(empty_list)

([], list)

In [10]:
int_list = [1,2,3,4,5]
int_list, type(int_list)

([1, 2, 3, 4, 5], list)

In [11]:
float_list = [1.,2.,3.,4.,5.]
float_list, type(float_list)

([1.0, 2.0, 3.0, 4.0, 5.0], list)

In [12]:
string_list = ["Many words", "impoverished meaning"]
string_list, type(string_list)

(['Many words', 'impoverished meaning'], list)

In [13]:
mixed_list = [1, 2., "Mix it up"]
mixed_list, type(mixed_list)

([1, 2.0, 'Mix it up'], list)

# Concatenation: Lists

In [16]:
# Concatenating lists is a very efficient way to use list
list1 = [1]
list2 = [2]
join_lists = list1 + list2
join_lists

[1, 2]

In [17]:
#similar to concatenating strings

str1 = '1'
str2 = '2'
join_strs = str1 + str2
join_strs

'12'

a for loop using a range will cycel through variable I from integer j to k-1 by increments of 1 for i in range (j,k,l)
   
       execute script

In [20]:
# for loops make the computer count for us
for i in range (1, 10**2):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [25]:
# this type of interation is at the heart of AI, for loops are very helpful
total = 0
for i in range(1, 101):
    total = total + i 
    print(i, total)

1 1
2 3
3 6
4 10
5 15
6 21
7 28
8 36
9 45
10 55
11 66
12 78
13 91
14 105
15 120
16 136
17 153
18 171
19 190
20 210
21 231
22 253
23 276
24 300
25 325
26 351
27 378
28 406
29 435
30 465
31 496
32 528
33 561
34 595
35 630
36 666
37 703
38 741
39 780
40 820
41 861
42 903
43 946
44 990
45 1035
46 1081
47 1128
48 1176
49 1225
50 1275
51 1326
52 1378
53 1431
54 1485
55 1540
56 1596
57 1653
58 1711
59 1770
60 1830
61 1891
62 1953
63 2016
64 2080
65 2145
66 2211
67 2278
68 2346
69 2415
70 2485
71 2556
72 2628
73 2701
74 2775
75 2850
76 2926
77 3003
78 3081
79 3160
80 3240
81 3321
82 3403
83 3486
84 3570
85 3655
86 3741
87 3828
88 3916
89 4005
90 4095
91 4186
92 4278
93 4371
94 4465
95 4560
96 4656
97 4753
98 4851
99 4950
100 5050

In [37]:
total = 0  
for i in range(1, 101, 2):
    total = total + i
    print(i, total)

1 1
3 4
5 9
7 16
9 25
11 36
13 49
15 64
17 81
19 100
21 121
23 144
25 169
27 196
29 225
31 256
33 289
35 324
37 361
39 400
41 441
43 484
45 529
47 576
49 625
51 676
53 729
55 784
57 841
59 900
61 961
63 1024
65 1089
67 1156
69 1225
71 1296
73 1369
75 1444
77 1521
79 1600
81 1681
83 1764
85 1849
87 1936
89 2025
91 2116
93 2209
95 2304
97 2401
99 2500

In [32]:
# if the object has multiple elements, the for loop will cycle through the elements
list1 = [543, 342, 6, 534, 543]
str1 = '12985j792ksakjdf5ad4jkd89'

for val in list1: 
    print(val)

for string in str1:
        print(string, string == "k")

543
342
6
534
543
1 False
2 False
9 False
8 False
5 False
j False
7 False
9 False
2 False
k True
s False
a False
k True
j False
d False
f False
5 False
a False
d False
4 False
j False
k True
d False
8 False
9 False

In [38]:
list1 = [1,2]
list2 = [3,4]
list1 + list2

[1, 2, 3, 4]

## More on range()

In [3]:
# create a list by appending values to the list
list1 = []
for i in range (0,9, 2):
    print(i)
    list1.append(i)
print(list1)

0
2
4
6
8
[0, 2, 4, 6, 8]

In [11]:
# create a list by passing range(range(i,j,l))
# more efficient alternative to using append within a for loop
list2 = list(range(0,9,1))
list2

[0, 1, 2, 3, 4, 5, 6, 7, 8]

### Using len() with range

In [12]:
list2_len = len(list2)
print('i','val')
for i in range(list2_len):
    print(i, list2[i])

i val
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8

## Nested for-loop

In [23]:
print('i','list')

# create a new list2 according to the interval values called by the for loop
for interval in range(1, 6):
    list2 = list(range(0,9,interval))
    print(interval, list2)
    list2_len = len(list2)
    print('length:', list2_len)
    print('j','val')

    for j in range(list2_len):
       print(j, list2[j])

i list
1 [0, 1, 2, 3, 4, 5, 6, 7, 8]
length: 9
j val
0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
2 [0, 2, 4, 6, 8]
length: 5
j val
0 0
1 2
2 4
3 6
4 8
3 [0, 3, 6]
length: 3
j val
0 0
1 3
2 6
4 [0, 4, 8]
length: 3
j val
0 0
1 4
2 8
5 [0, 5]
length: 2
j val
0 0
1 5

## If statements and boolean variables

In [27]:
#Boolean variables are either true or false
True

True

In [28]:
False

False

In [29]:
True * False

0

In [30]:
True * True

1

In [35]:
boolean = True

# conditional statement // if statement
if boolean: # if boolean == True
    print(boolean)
    
boolean2 = False
if boolean2 == False: # if boolean2 == True
    print(boolean2)

True
False

In [1]:
1 == True

True

In [2]:
# != is "not equal to"
1 != True

False

## use a boolean variable and a conditional statement (if statement) to track the appearance of the word "ate"

In [30]:
words = ["The", 'dog', 'ate', 'the', 'snow', 'and', 'ate', 'his', 'dog', 'food']
# does the word "ate" appear in the list? If so, where?
ate_index_list=[]

num_words = len(words)
for i in range(num_words):
        # save the string at index i as word
        word = words[i]
        # is ate is a boolean that tells whether the current word is ate
        is_ate = word == "ate"
        print(i,"Is the word", word, "\"ate\"?", is_ate)
        
        # if the word is 'ate', then add the index to the list so that we can have
        # and easy to reference record of the indices where ate appears
        if is_ate:
             ate_index_list.append(i)
ate_index_list

0 Is the word The "ate"? False
1 Is the word dog "ate"? False
2 Is the word ate "ate"? True
3 Is the word the "ate"? False
4 Is the word snow "ate"? False
5 Is the word and "ate"? False
6 Is the word ate "ate"? True
7 Is the word his "ate"? False
8 Is the word dog "ate"? False
9 Is the word food "ate"? False

[2, 6]

In [31]:
is_ate = word == "ate"
is_ate

False

# if, else, elif

In [36]:
random_numbers = [1,6,23, 23432,423,1,234, 324,5, 5,32,6]

# is the number greater than 10

not_greater_than_10 = []
greater_than_10 = []
for number in random_numbers:

    if number > 10:
        print(number, "is greater than 10")
        greater_than_10.append(number)
    else:
        print(number, 'is not greater than 10')
        not_greater_than_10.append(number)

1 is not greater than 10
6 is not greater than 10
23 is greater than 10
23432 is greater than 10
423 is greater than 10
1 is not greater than 10
234 is greater than 10
324 is greater than 10
5 is not greater than 10
5 is not greater than 10
32 is greater than 10
6 is not greater than 10

In [37]:
greater_than_10

[23, 23432, 423, 234, 324, 32]

In [63]:
random_numbers = [1,6,8,23, 23432,423,1,234, 324,5, 5,32,6, -1, -345, -15, -35]

# is the number greater than 10
greater_than_10 = []
zero_to_10 = []
negative_numbers = []
for number in random_numbers:

    #what if you want to catch strings in your list
    if type(number) == str: number = float(number)
    if number > 10:
        print(number, "is greater than 10")
        greater_than_10.append(number)
    #if a number is 10 or less, the program will read the elifand test 
    # that the number is zero or greater, this cathces all the numbers in the domain [0,10]
    elif number >= 0:
        print(number, 'is the domain of 0 and  10')
        zero_to_10.append(number)
    #the else statement catches any numbers that are negative since the previous conditions
    #checked if the the statements were zero or greater
    else:
        print(number, 'is negative')
        negative_numbers.append(number)

1 is the domain of 0 and  10
6 is the domain of 0 and  10
8 is the domain of 0 and  10
23 is greater than 10
23432 is greater than 10
423 is greater than 10
1 is the domain of 0 and  10
234 is greater than 10
324 is greater than 10
5 is the domain of 0 and  10
5 is the domain of 0 and  10
32 is greater than 10
6 is the domain of 0 and  10
-1 is negative
-345 is negative
-15 is negative
-35 is negative

In [64]:
greater_than_10, zero_to_10, negative_numbers

([23, 23432, 423, 234, 324, 32], [1, 6, 8, 1, 5, 5, 6], [-1, -345, -15, -35])

# use del lst[i]

In [65]:
# use del lst[i] to delete the ith element from lst 
del greater_than_10[1] 
del zero_to_10[1]
del negative_numbers[1]
greater_than_10, zero_to_10, negative_numbers

([23, 423, 234, 324, 32], [1, 8, 1, 5, 5, 6], [-1, -15, -35])

In [66]:
# passing -1 as a list index calls the last element in the lest
# passing -1 when using del lst[i] will delete the last element in the list

del greater_than_10[-1] 
del zero_to_10[-1]
del negative_numbers[-1]
greater_than_10, zero_to_10, negative_numbers

([23, 423, 234, 324], [1, 8, 1, 5, 5], [-1, -15])

# use lst.remove(val)

In [69]:
# use lst.remove(val)
greater_than_10.remove(23)

#if you remove a value that appears twice, then the first appearance from the list is removed
zero_to_10.remove(1)
greater_than_10, zero_to_10

([423, 234, 324], [8, 1, 5, 5])

# use lst.pop()

In [70]:
#removes the last or ith element
last_val_in_lst = greater_than_10.pop()
greater_than_10, last_val_in_lst

([423, 234], 324)

## sorting list

In [73]:
#sorted(lst) will sort a copy of lst
num_list = [1,2,4,6,243,34,123,43134,145234,234,3,4]

num_list, sorted(num_list), num_list

([1, 2, 4, 6, 243, 34, 123, 43134, 145234, 234, 3, 4],
 [1, 2, 3, 4, 4, 6, 34, 123, 234, 243, 43134, 145234],
 [1, 2, 4, 6, 243, 34, 123, 43134, 145234, 234, 3, 4])

In [72]:
string_list = ['A', "list", 'of', 'string,''is', 'in', 'string_list']
string_list, sorted(string_list)

(['A', 'list', 'of', 'string,is', 'in', 'string_list'],
 ['A', 'in', 'list', 'of', 'string,is', 'string_list'])

In [74]:
#lst.sort() will sort the original list object
num_list.sort()
num_list

[1, 2, 3, 4, 4, 6, 34, 123, 234, 243, 43134, 145234]

In [75]:
# sorting mixed types will generate an error
# you cannot compart strings and numerical values
sorted(num_list + string_list)

TypeError: '<' not supported between instances of 'str' and 'int'

# List slices

In [77]:
# a slice of a list takes a subset of values from a list
lst = [1,2,3,4,5,6,6,7]
# compare full list to sliced list
lst, lst[2:5]

([1, 2, 3, 4, 5, 6, 6, 7], [3, 4, 5])

In [79]:
# count through the index by twos
# implicit start and end index values
lst, lst[0:-1:2]

([1, 2, 3, 4, 5, 6, 6, 7], [1, 3, 5, 6])

In [78]:
# implicit start and end index values
lst, lst[::2]

([1, 2, 3, 4, 5, 6, 6, 7], [1, 3, 5, 6])

## list and generator functions

In [81]:
generator = (i for i in range (20))
generator

In [82]:
list1 = list(generator)
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [84]:
list2 = [2 * i for i in range (20)]
list2

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [85]:
# be careful not to save over the list function
list = ['a', 'list']
list(i for i in range(20))

TypeError: 'list' object is not callable