# Hello World

In [1]:
print("Hello world!")

Hello world!

In [2]:
type('Hello World!')

str

In [4]:
## Save "Hello World!" as a variable

In [7]:
msg = "Hello World"
print(msg)

#The magic of programming is being able to save something and bring it up again and again without retyping the entire thing

Hello World

In [8]:
type(msg)

str

In [10]:
dir(msg)
# every string object has all these methods that can be used

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [14]:
msg = "john nash"

# ALL CAPS
msg_upper = msg.upper()
print(msg_upper)
# Capitalize the first letter
msg_title = msg.title()
msg_title

JOHN NASH

'John Nash'

In [24]:
# Concatenation is joining strings together forming a single string
print('A')

A

In [19]:
print('B')

B

In [23]:
a = "A"
b = "B"
print(a + b)

AB

In [38]:
line1 = "You thought it would be easy"
line2 = "You thought it wouldn't be strange"
line3 = "But then you started coding"
line4 = "Things never were the same"
#print(line1 + line2 + line3 + line4)
#print(line1+ " " + line2)
#print(line1 + '\n' + line2)

# Escape functions, \n creates new line
#Sep = "string" to insert a particular string between each object passed to spring 

print(1,2,3,4, sep = '\n')

print(line1, line2, line3, line4, sep = '\n')

1
2
3
4
You thought it would be easy
You thought it wouldn't be strange
But then you started coding
Things never were the same

Escape Sequences

New Concepts	Description
Escape Sequences (more)	See table below
Below is a list of commands including and related to the string used in earlier exercises, “\n”. These are known as escape sequences'.

Escape Sequence	Result
"\"	Backslash
'\''	Single Quote
"\""	Double Quote
"\t"	Horizontal Tab
"\n"	New Line

# Quotes within quotes

In [42]:
print("\"")

#just use the opposite of the numnber of quotes if you want to do quotes within quotes

"

# More String Methods

In [46]:
spaces = "     Look at all the spaces in the text!     "
print(spaces)

     Look at all the spaces in the text!

In [48]:
# remove spaces on far left
print(spaces.lstrip())

Look at all the spaces in the text!

In [50]:
# remove spaces on far right
print(spaces.rstrip())

     Look at all the spaces in the text!

In [52]:
# remove spaces on both sides
print(spaces.strip())

Look at all the spaces in the text!

In [55]:
# remove all spaces 
print(spaces.replace(' ',''))

Lookatallthespacesinthetext!

In [57]:
print(spaces.replace('     ',''))

Look at all the spaces in the text!

In [59]:
print(spaces.replace('s',''))

     Look at all the pace in the text!

# Working with numbers

In [62]:
print(1, 1.)

1 1.0

In [68]:
int1 = 1
float1 = 1.
str1 = ('1.')
print(type(int1), type(float1), type(str1))
print(int1, float1, str1)

<class 'int'> <class 'float'> <class 'str'>
1 1.0 1.

In [73]:
int2 = int1 + int1
print(type(int2), int2)

<class 'int'> 2

In [77]:
#summing an int and a float yeilds a float
float2 = int1 + float1
print(type(float2), float2)

<class 'float'> 2.0

In [ ]:
## If you attempt to sum an int or float with a string, an error results

In [78]:
int1 + str1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [80]:
## Transform value to string

In [84]:
str11 = str(int1) + str1
str11

'11.'

In [86]:
str11 = str(float1) + str1
str11

'1.01.'

In [94]:
float2 = float(str1) + float1
float2

2.0

In [95]:
total = ''
for i in range(20):
        total = total + str(i)
print(total)

012345678910111213141516171819